.featured{
    padding:120px 8%;
    background:#111;
}

.featured-grid{
    display:grid;
    grid-template-columns:1.1fr 1fr;
    gap:35px;
    margin-top:60px;
}

.info-box{
    background:#181818;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:28px;
    margin-bottom:25px;
    transition:.3s;
}

.info-box:hover{
    border-color:#8b5cf6;
    transform:translateY(-5px);
}

.info-box h3{
    color:#8b5cf6;
    margin-bottom:18px;
    font-size:22px;
}

.info-box p{
    color:#d1d5db;
    line-height:1.8;
}

.info-box ul{
    padding-left:20px;
    color:#d1d5db;
}

.info-box li{
    margin-bottom:12px;
    line-height:1.7;
}

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.tech-stack span{
    background:#252525;
    padding:10px 16px;
    border-radius:30px;
    color:white;
    transition:.3s;
}

.tech-stack span:hover{
    background:#8b5cf6;
}

@media(max-width:900px){

.featured-grid{
    grid-template-columns:1fr;
}

}