.navbar{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
width:92%;
max-width:1350px;
height:75px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 35px;

background:rgba(16,20,30,.65);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

z-index:999;

box-shadow:0 10px 40px rgba(0,0,0,.25);
}

.logo{
font-size:30px;
font-weight:800;
letter-spacing:.5px;
}

.logo span{
color:#7c3aed;
}

.nav-links{
display:flex;
gap:35px;
list-style:none;
}

.nav-links li{
color:#cbd5e1;
font-weight:500;
cursor:pointer;
transition:.3s;
}

.nav-links li:hover{
color:#7c3aed;
}

.nav-right{
display:flex;
align-items:center;
gap:18px;
}

.nav-right a{
font-size:22px;
color:white;
transition:.3s;
}

.nav-right a:hover{
color:#7c3aed;
transform:translateY(-3px);
}

.nav-right button{
background:linear-gradient(135deg,#7c3aed,#9333ea);
border:none;
padding:12px 22px;
color:white;
font-weight:600;
border-radius:10px;
transition:.3s;
}

.nav-right button:hover{
transform:translateY(-3px);
box-shadow:0 15px 35px rgba(124,58,237,.35);
}

@media(max-width:980px){

.nav-links{
display:none;
}

.nav-right button{
display:none;
}

.navbar{
padding:0 20px;
}

}