.skills{
padding:120px 8%;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
gap:30px;
margin-top:50px;
}

.skill-card{
padding:30px;
transition:.35s;
}

.skill-card:hover{
transform:translateY(-8px);
}

.skill-card h3{
margin-bottom:20px;
font-size:22px;
color:#fff;
}

.skill-tags{
display:flex;
flex-wrap:wrap;
gap:12px;
}

.skill-tags span{
padding:10px 16px;
border-radius:30px;
background:rgba(124,58,237,.15);
border:1px solid rgba(124,58,237,.25);
color:#d8d4ff;
font-size:14px;
font-weight:500;
transition:.3s;
}

.skill-tags span:hover{
background:#7c3aed;
color:white;
}
.skills-description{
    max-width:850px;
    margin:20px auto 50px;
    text-align:center;
    color:#cbd5e1;
    line-height:1.8;
    font-size:17px;
}