.skills{
    padding:120px 8%;
    background:#111;
}

.skills-description{
    max-width:850px;
    margin:25px auto 70px;
    text-align:center;
    color:#cbd5e1;
    line-height:1.8;
}

.skills-wrapper{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.skill-row{
    background:#181818;
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:28px;
    transition:.35s;
}

.skill-row:hover{
    border-color:#8b5cf6;
    transform:translateY(-4px);
    box-shadow:0 12px 30px rgba(139,92,246,.15);
}

.skill-title{
    color:#8b5cf6;
    font-size:22px;
    font-weight:700;
    margin-bottom:20px;
}

.skill-items{
    display:flex;
    flex-wrap:wrap;
    gap:14px;
}

.skill-items span{
    background:#252525;
    color:white;
    padding:10px 18px;
    border-radius:30px;
    font-size:14px;
    transition:.3s;
}

.skill-items span:hover{
    background:#8b5cf6;
    transform:translateY(-2px);
}

@media(max-width:768px){

.skills{
    padding:90px 6%;
}

.skill-row{
    padding:22px;
}

.skill-title{
    font-size:20px;
}

.skill-items{
    gap:10px;
}

.skill-items span{
    font-size:13px;
    padding:8px 14px;
}

}