.stats{
padding:100px 8%;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
margin-top:50px;
}

.stat-card{
padding:40px;
text-align:center;
transition:.3s;
}

.stat-card:hover{
transform:translateY(-8px);
}

.stat-card h3{
font-size:52px;
color:#7c3aed;
margin-bottom:12px;
}

.stat-card p{
font-size:18px;
}